/**
 * General Styles
 **/
	body {
		font-family: Helvetica;
		text-align: center;
	}
	h1 {
		margin-bottom: 25px;
		color: white;
		font-size: 70px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 23px;
	}
	p {
		font-size: 14px;
	}
	a {
		color: white;
		font-weight: bold;
	}

/**
 * Header Styles
 **/
	#home,
	#work h2 {
		color: white;
		background: transparent url('../images/the-flatiron-building.png') center no-repeat;
		background-size: cover;
	}

	#home ul {
		list-style: none;
		font-size: 18px;
	}
		#home ul li {
			padding: 20px 0 0;
		}

/**
 * Footer Styles
 **/
	#copyright p {
		color: white;
		font-size: 11px;
		text-align: left;
		background-color: dimgray;
	}

/**
 * MISC.
 **
#copyright2 {
	padding: 3px;
	font-size: 11px;
	text-align: left;
	color: white;
	background-color: dimgray;
}
	#copyright2 dt,
	#copyright2 dd {
		margin-left: 5px;
		display: inline;
	}
	#copyright2 dd a {
		color: white;
		font-weight: bold;
	}
*/
