body {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  background-image: none;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  color: white;
}

p {
  font-size: 14px;
}

#home {
  background: transparent url(../images/the-flatiron-building.png) 0 0 no-repeat;
  background-size: cover;
}
